.gitattributes text eol=lf
.gitignore text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
.env.example text eol=lf
scripts/hooks/* text eol=lf
